<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="navbar-nav mr-auto">
      <% for(let i = 0; i < collections.length; i++) { %>
      <li class="nav-item">
        <a class="nav-link" href="/<%= collections[i].name %>"><%= collections[i].name %></a>
      </li>
      <% } %>
  </ul>

</nav>